---
# Auto is more robust for us than auto_legacy (still the default as of 2.8)
# because the geerlingguy.postgresql role, with RPM weak deps, installs
# /usr/bin/python pointing to python2, on Fedora 30. This in turn breaks
# running pulp_installer a 2nd time, because F30 lacks python2-dnf.
ansible_python_interpreter: auto

# Limit the actual tasks of the role to be run on only 1 node in a cluster deployment.
__pulp_database_config_run_once: true
