{% for setting, value in merged_pulp_settings.items() %}
{% if value | string in ["True", "False"] %}
{{ setting | upper }} = {{ value | string | capitalize }}
{% elif value %}
{{ setting | upper }} = {{ value | to_json }}
{% else %}
{{ setting | upper }} = {{ value }}
{% endif %}
{% endfor %}
