/*.retry
.tox
**/*.pyc
/roles/geerlingguy.postgresql
/vagrant/playbooks/roles/geerlingguy.postgresql
local.*-config.yml
.github/Containerfile_*
build/
*.tar.gz

# Ignores for Vagrant related items
.vagrant/

vagrant/boxes.d/*-local.yaml

# Vim temporary/swap files
*~
*.swp
*.swo
