/*.retry
.tox
**/*.pyc
/roles/geerlingguy.postgresql
/vagrant/playbooks/roles/geerlingguy.postgresql
local.*-config.yml
.github/Containerfile_*

# Ignore build artifacts
/build
*.tar.gz

# Ignores for Vagrant related items
.vagrant/
