# -*- mode: ruby -*-
# vi: set ft=ruby :

VAGRANTFILE_API_VERSION = "2"

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box = "fedora/28-cloud-base"
  # Get OS type for better docker support
  require 'rbconfig'
  os = RbConfig::CONFIG['host_os'].downcase

  # Comment out if you don't want Vagrant to add and remove entries from /etc/hosts for each VM.
  # requires the vagrant-hostmanager plugin to be installed
  if Vagrant.has_plugin?("vagrant-hostmanager")
    if !os.include? 'darwin'
      config.hostmanager.enabled = true
      config.hostmanager.manage_host = true
    end
  end

  config.vm.provision "pulp_roles", type: 'ansible', run: "always" do |ansible|
    ansible.galaxy_role_file = "requirements.yml"
    ansible.playbook = "user-sandbox.yml"
    ansible.extra_vars = {"ansible_python_interpreter": "/usr/bin/python3"}
    # ansible.verbose = "vvv"
  end

  # Create the "pulp3_sandbox"
  config.vm.define :pulp3_sandbox do |pulp3_sandbox|
    pulp3_sandbox.vm.host_name = "sandbox.pulp3"

    pulp3_sandbox.vm.provider :libvirt do |domain, override|
        domain.cpus = 4
        # In some cases, the guest gets stuck at "Waiting for domain to get an IP address..." if
        # the default cpu_mode, 'host-model', is used. Using 'host-passthrough' cpu_mode prevents
        # VM migration between hosts with different CPUs. However, development environments are
        # expected to live on a single host for the duration of their existence. Due to this known
        # issue and our use case, the default cpu_mode is overridden.
        domain.cpu_mode = "host-passthrough"
        domain.graphics_type = "spice"
        domain.memory = 2048
        domain.video_type = "qxl"

        # Uncomment this to expand the disk to the given size, in GB (default is usually 40)
        # You'll also need to uncomment the provisioning step below that resizes the root partition
        # do not set this to a size smaller than the base box, or you will be very sad
        # domain.machine_virtual_size = 80
    end

    pulp3_sandbox.vm.provider :docker do |domain, override|

        uid = Process.euid
        gid = Process.egid
        config.ssh.username = "vagrant"
        config.ssh.password = "vagrant"

        override.vm.box = nil
        # Based on fedora official image, with vagrant's needs met:
        # https://github.com/rohanpm/docker-fedora-vagrant
        # plugins/providers/docker/action/login.rb
        domain.build_dir = 'docker/'
        domain.build_args = ["--build-arg=USER_EUID=#{uid}"]
        unless os.include? "darwin" then
            domain.build_args.push("--build-arg=USER_EGID=#{gid}")
        end

        domain.privileged = true
        domain.remains_running = true
        domain.has_ssh = true
        domain.expose = [80, 443, 5432, 6379]
    end
  end
end
