[Unit]
Description=Pulp Resource Manager
After=network-online.target
Wants=network-online.target

[Service]
Environment="DJANGO_SETTINGS_MODULE=pulpcore.app.settings"
Environment="PULP_SETTINGS={{ pulp_config_dir }}/settings.py"
Environment="PATH={{ pulp_install_dir }}/bin:{{ default_bin_path }}"
User={{ pulp_user }}
WorkingDirectory=/var/run/pulpcore-resource-manager/
RuntimeDirectory=pulpcore-resource-manager
ExecStart={{ pulp_install_dir }}/bin/rq worker \
          -w pulpcore.tasking.worker.PulpWorker -n resource-manager@%%h \
          --pid=/var/run/pulpcore-resource-manager/resource-manager.pid \
          -c 'pulpcore.rqconfig' \
          --disable-job-desc-logging


# This provides reconnect support for PostgreSQL and Redis. Without reconnect support, if either
# is not available at startup or becomes disconnected, this process will die and not respawn.
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
