# Set up virtualenvwrapper
export WORKON_HOME={{pulp_install_dir}}/..
export PIP_VIRTUALENV_BASE=$WORKON_HOME
export VIRTUALENV_USE_DISTRIBUTE=true
export PIP_RESPECT_VIRTUALENV=true
# make sure python3 is used in virtual environments
export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
source /usr/bin/virtualenvwrapper-3.sh
# Configure settings for django-admin
export DJANGO_SETTINGS_MODULE=pulpcore.app.settings
