[Unit]
Description=Pulp Web Server
After=network-online.target
Wants=network-online.target

[Service]
User={{ pulp_user }}
WorkingDirectory=/var/run/pulp_web/
RuntimeDirectory=pulp_web
ExecStart={{ pulp_install_dir }}/bin/pulp-manager runserver
ProtectSystem=full
PrivateTmp=yes
PrivateDevices=yes

[Install]
WantedBy=multi-user.target
