[Unit]
Description=Pulp RQ Worker
After=network-online.target
Wants=network-online.target

# This service will break if left running while PostgreSQL restarts.
BindsTo=postgresql.service
After=postgresql.service

[Service]
EnvironmentFile=-/etc/default/pulp-workers
EnvironmentFile=-/etc/default/pulp-workers-%i
Environment="DJANGO_SETTINGS_MODULE=pulpcore.app.settings"
User={{ pulp_user }}
WorkingDirectory=/var/run/pulp-worker-%i/
RuntimeDirectory=pulp-worker-%i
ExecStart={{ pulp_install_dir }}/bin/rq worker \
          -w pulpcore.tasking.worker.PulpWorker \
          -n reserved-resource-worker-%i@%%h \
          --pid=/var/run/pulp-worker-%i/reserved-resource-worker-%i.pid \
          -c 'pulpcore.rqconfig'

[Install]
WantedBy=multi-user.target
