{% for setting, value in __pulp_common_merged_pulp_settings.items() %}
{{ setting | upper }} = {{ value | string | capitalize if value | string in ["True", "False"] else value | to_json }}
{% endfor %}
