[Unit]
Description=Pulp Worker
After=network-online.target
Wants=network-online.target
# When systemd stops or restarts the meta pulpcore.service, the action is propagated to this service
PartOf=pulpcore.service
# Start this service after the pulpcore.service starts
After=pulpcore.service

[Service]
EnvironmentFile=-/etc/default/pulpcore
EnvironmentFile=-/etc/default/pulpcore-worker
EnvironmentFile=-/etc/default/pulpcore-worker-%i
Environment="DJANGO_SETTINGS_MODULE=pulpcore.app.settings"
Environment="PULP_SETTINGS={{ pulp_settings_file }}"
Environment="PATH={{ pulp_install_dir }}/bin:{{ default_bin_path }}"
{% if pulp_ld_library_path is defined and pulp_ld_library_path != '' %}
Environment="LD_LIBRARY_PATH={{ pulp_ld_library_path }}"
{% endif %}
User={{ pulp_user }}
Group={{ pulp_group }}
WorkingDirectory=/var/run/pulpcore-worker-%i/
RuntimeDirectory=pulpcore-worker-%i
{% if __pulpcore_version is version('3.14', '>=') -%}
ExecStart={{ __pulp_daemons_dir }}/pulpcore-worker
{%- else -%}
ExecStart={{ __pulp_daemons_dir }}/rq worker \
          -w pulpcore.tasking.worker.PulpWorker \
          --pid=/var/run/pulpcore-worker-%i/reserved-resource-worker-%i.pid \
          -c 'pulpcore.rqconfig' \
          --disable-job-desc-logging
{%- endif %}

# Enables tracking of process resource consumption at a unit & cgroup level.
CPUAccounting=yes
MemoryAccounting=yes

# This provides reconnect support for PostgreSQL and Redis. Without reconnect support, if either
# is not available at startup or becomes disconnected, this process will die and not respawn.
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
