Define pulp-content {{ pulp_content_host }}:{{ pulp_content_port }}
Define pulp-api {{ pulp_api_host }}:{{ pulp_api_port }}

<VirtualHost *:80>
  ServerName {{ ansible_nodename }}

  ## Vhost docroot
  DocumentRoot {{ pulp_webserver_static_dir }}

  <Directory "{{ pulp_webserver_static_dir }}">
    Options SymLinksIfOwnerMatch
    AllowOverride None
    Require all granted
  </Directory>

  ## Logging
  ErrorLog "/var/log/httpd/pulp_error.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/pulp_access.log" combined

  ## Proxy rules
  ProxyRequests Off
  ProxyPreserveHost Off

  ProxyPass /pulp/api http://${pulp-api}/pulp/api
  ProxyPassReverse /pulp/api http://${pulp-api}/pulp/api

  ProxyPass /pulp/content http://${pulp-content}/pulp/content
  ProxyPassReverse /pulp/content http://${pulp-content}/pulp/content

  IncludeOptional pulp/*.conf

</VirtualHost>
