[Unit]
Description=Pulp RQ Worker
After=network-online.target
Wants=network-online.target

# This service will break if left running while PostgreSQL restarts.
BindsTo=postgresql.service
After=postgresql.service

[Service]
EnvironmentFile=-/etc/default/pulp_workers
EnvironmentFile=-/etc/default/pulp_workers_%i
Environment="DJANGO_SETTINGS_MODULE=pulpcore.app.settings"
User={{ pulp_user }}
WorkingDirectory=/var/run/pulp_worker_%i/
RuntimeDirectory=pulp_worker_%i
ExecStart={{ pulp_install_dir }}/bin/rq worker \
          -w pulpcore.tasking.worker.PulpWorker \
          -n reserved_resource_worker_%i@%%h \
          --pid=/var/run/pulp_worker_%i/reserved_resource_worker_%i.pid

[Install]
WantedBy=multi-user.target
