---
name: Pulp Release CI
on:
  push:
    tags:
      - '*'
jobs:
  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      # Testing different python versions because of
      # https://pulp.plan.io/issues/5768#note-17
      matrix:
        include:
          - test_type: release-static
            ansible: "2.9"
            python: "2.7"
            toxpy: "27"
          - test_type: source-static
            ansible: "2.9"
            python: "3.6"
            toxpy: "36"
          - test_type: packages-static
            ansible: "2.10"
            python: "3.7"
            toxpy: "37"
          - test_type: release-dynamic
            ansible: "2.10"
            python: "3.8"
            toxpy: "38"
          - test_type: source-dynamic
            ansible: "2.9"
            python: "3.8"
            toxpy: "38"
          - test_type: packages-dynamic
            ansible: "2.9"
            python: "3.7"
            toxpy: "37"
          - test_type: release-upgrade
            ansible: "2.9"
            python: "2.7"
            toxpy: "27"
          - test_type: source-upgrade
            ansible: "2.10"
            python: "3.6"
            toxpy: "36"
          - test_type: packages-upgrade
            ansible: "2.10"
            python: "3.6"
            toxpy: "36"
    steps:
      - uses: actions/checkout@v2.3.1
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install tox
        run: |
          pip install --upgrade pip
          pip install tox
      - name: Pulling images for PyPI upgrades
        if: matrix.test_type == 'release-upgrade' || matrix.test_type == 'source-upgrade'
        run: |
          docker pull quay.io/pulp/pulp-ci-dbuster:3.0.0
          docker pull quay.io/pulp/pulp_rpm-ci-f31:3.1.0
          docker pull quay.io/pulp/pulp_rpm-ci-c7:3.1.0
      - name: Pulling images for distro packages upgrades
        if: matrix.test_type == 'packages-upgrade'
        run: |
          docker pull quay.io/pulp/pulp-ci-pkgs-c7:3.3.1
          docker pull quay.io/pulp/pulp-ci-pkgs-c8:3.3.1
      - name: Run tox
        run: tox -e "py${{ matrix.toxpy }}-ansible${{ matrix.ansible }}-${{ matrix.test_type }}"
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
        shell: bash

  release:
    runs-on: ubuntu-latest
    needs: molecule
    if: github.repository == 'pulp/pulp_installer'
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"
      - name: Setting secrets
        run: python3 .github/workflows/scripts/secrets.py "$SECRETS_CONTEXT"
        env:
          SECRETS_CONTEXT: ${{ toJson(secrets) }}
      - name: Install Ansible
        run: pip install --upgrade ansible
      - name: Build Ansible Collection
        run: |
          make vendor
          make dist
      - name: Deploy Ansible Collection
        run: make publish GALAXY_API_KEY=${{ secrets.GALAXY_API_KEY }}
      - name: Update Redmine
        run: bash .ci/scripts/update_redmine.sh

  vagrant:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - test_type: pulp3-source-centos7-fips
          - test_type: pulp3-source-centos8-fips
    steps:
      - uses: actions/checkout@v2.3.1
        with:
          submodules: true
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install Vagrant
        shell: bash
        run: |
          .github/workflows/scripts/install.sh ${{ matrix.test_type }}
          # For the source tests
          cd ..
          git clone https://github.com/pulp/pulpcore
          git clone https://github.com/pulp/pulp_file
      - name: Run Vagrant
        shell: bash
        run: .github/workflows/scripts/script.sh ${{ matrix.test_type }}
        env:
          PY_COLORS: '1'
          ANSIBLE_FORCE_COLOR: '1'
          TERM: 'xterm-256color'
      - name: After failure
        if: failure()
        run: .github/workflows/scripts/after_failure.sh ${{ matrix.test_type }}
